# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# README files
README-frontend.md

# dependencies
gestor-tareas/node_modules
gestor-tareas/.pnp
gestor-tareas/.pnp.js

# testing
gestor-tareas/coverage

# production
gestor-tareas/build

# misc
.DS_Store
gestor-tareas/.env.local
gestor-tareas/.env.development.local
gestor-tareas/.env.test.local
gestor-tareas/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
